<!-- Uses the showAllCategories function in the category_controller -->
<h1>Categories</h1>
<br>
<br>

<!-- <div ng-repeat="category in category">

	<div> 
		<a ng-href="#!/category/{{category.id}}"> {{category.section}}</a>
	</div>

</div> -->

<div class="row">
      <div class="col">
       <div class="c1"><a class="cat" ng-href="#!/category/1">Overall Health</a></div>
      </div>

      <div class="col">
        <div class="c1"><a class="cat" ng-href="#!/category/2">Better Immunity</a></div>   
      </div>
  </div>

	<br>
    <br>

  <div class="row">
      <div class="col">
       <div class="c1"><a class="cat" ng-href="#!/category/3">Weight Loss</a></div>
      </div>

      <div class="col">
        <div class="c1"><a class="cat" ng-href="#!/category/4">Detox</a></div>   
      </div>
  </div>

	<br>
    <br>

  <div class="row">
      <div class="col">
       <div class="c1"><a class="cat" ng-href="#!/category/5">Reduce Inflammation</a></div>
      </div>
	
      <div class="col">
        <div class="c1"><a class="cat" ng-href="#!/category/6">Energy</a></div>   
      </div>
  </div>

	<br>
    <br>

  <div class="row">
      <div class="col">
       <div class="c1"><a class="cat" ng-href="#!/category/7">Digestive Health</a></div>
      </div>

      <div class="col">
        <div class="c1"><a class="cat" ng-href="#!/category/8">Heart Health</a></div>   
      </div>
  </div>
