<!-- form to login. uses user-ctrl.js -->
<h1>Please sign in</h1>
<div class="forms">

  <div class="form-group row">
      <div>
      <input type="email" class="input" id="email" ng-model="user.email" placeholder="Email address" size="50">
      </div>
  </div>

  <div class="form-group row">
    <div>
      <input type="password" class ="input" id="pwd" ng-model="user.password" placeholder="Password" size="50">
    </div>
  </div>
  <button ng-click="login()" class="btn btn-outline-success">Login</button>

</div>
