<!-- <div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button w3-hover-none w3-border-light-grey w3-bottombar w3-hover-border-green">Home</a>
  <a href="#!/categories" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Recipes by Category</a>
  <a href="#!/allrecipes" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">All Recipes</a>
  <a href="#!/favorites" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Favorites</a>
  <a ng-href="#!/newrecipe" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Create New Recipe</a>
  <a href="#!/myrecipes" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">My Recipes</a>
  <a href="#!/guide" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">The Perfect Blend</a>
  
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="userCtrl" ng-show="isLoggedIn()">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#!/categories">By Category</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" href="#!/allrecipes">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/favorites">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/newrecipe">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/myrecipes">My Blends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/guide">The Perfect Blend</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
