<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Home</a>
  <a href="#!/favorites" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Favorites</a>
  <a ng-href="#!/newrecipe" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Create New Recipe</a>
  <a href="#!/categories" class="w3-bar-item w3-mobile w3-border-light-grey w3-bottombar w3-hover-border-green">Recipes</a>
  <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
  <a href="#" class="w3-bar-item w3-button w3-grey">Go</a>
  
</div>


