
	<div> {{recipe.title}}</div>
	<div> {{recipe.description}}</div><br>
	<p>INGREDIENTS:</p>
	<div> {{recipe.ingredient1}}</div>
	<div> {{recipe.ingredient2}}</div>
	<div> {{recipe.ingredient3}}</div>
	<div> {{recipe.ingredient4}}</div>
	<div> {{recipe.ingredient5}}</div>
	<div> {{recipe.ingredient6}}</div>
	<div> {{recipe.ingredient7}}</div><br>
	<p>DIRECTIONS:</p>
	<div> {{recipe.directions}}</div>
	<div> Notes: {{recipe.notes}}</div>

	<button ng-click="addToFavorites()" class="btn btn-default">add to favs</button>






