
	<h1> {{recipe.title}}</h1>
	<i><p> {{recipe.description}}</p></i>
	<br>
	<b><p>INGREDIENTS:</p></b>
	<p>{{recipe.ingredient1}}</p>
	<p>{{recipe.ingredient2}}</p>
	<p>{{recipe.ingredient3}}</p>
	<p>{{recipe.ingredient4}}</p>
	<p>{{recipe.ingredient5}}</p>
	<p>{{recipe.ingredient6}}</p>
	<p>{{recipe.ingredient7}}</p>
	<br>
	<b><p>DIRECTIONS:</p></b>
	<p>{{recipe.directions}}</p>
	<br>
	<p>Notes:<i>{{recipe.notes}}</i></p>
	<br>

	<button ng-click="addToFavorites()" class="btn btn-outline-success">Add to favorites</button>







