
  <div class="container">
    <h1 class="display-3">Welcome</h1>

	<p id="blah">Blah</p>
  </div>
  <a class="btn btn-outline-success" ng-href="#!/signup" role="button">Sign Up</a>
	<a class="btn btn-outline-success" ng-href="#!/login" role="button">Login</a>
  </div>



  <!-- <div>
   <h1>WELCOME! :)</h1>

	<p id="blah">Blah</p>
  </div>
  <a class="btn btn-outline-secondary" ng-href="#!/signup" role="button">Sign Up</a>
	<a class="btn btn-outline-secondary" ng-href="#!/login" role="button">Login</a> -->



<!-- <a class="btn btn-outline-secondary" ng-href="#!/signup" role="button">Sign Up</a>
<a class="btn btn-outline-secondary" ng-href="#!/login" role="button">Login</a> -->